In [1]:
import pandas as pd

In [9]:
#load
rates=pd.read_excel('manual_data.xlsx').reset_index()

In [10]:
rates

   index college                                 program   rate   info
0      0     UCL                        MSc Data Science  0.057    NaN
1      1     UCL                             MSc Finance  0.160    NaN
2      2     UCL                             MSc Physics  0.480    NaN
3      3     UCL                             MSc Geology  0.890    NaN
4      4     UCL                             MA Fine Art  0.215  18-25
5      5    Edin      MSC Finance, Technology and Policy  0.270    NaN
6      6   Edin   MSc Computational Mathematical Finance  0.180    NaN
7      7    Edin                        MSc Data Science  0.100    NaN
8      8    Edin        MSc Statistics with Data Science  0.250    NaN
9      9    Edin                              MA Fashion  0.061    NaN

In [101]:
#user pick
no_picks=3 #variable
picks={}
for i in range(no_picks): 
    while 1:
        temp_pick=int(input(f'pick program index for picks no {i+1}:\n'))
        if temp_pick not in picks.values(): 
            picks[i+1]=temp_pick
            break
        else: print(f'index {temp_pick} has been picked. reinput vaue for pick no {i+1}')

pick program index for picks no 1:
0
pick program index for picks no 2:
7
pick program index for picks no 3:
8

In [102]:
#search through mapping
res=rates[rates.index.isin(picks.values())].reset_index(drop=1)

In [103]:
#calculate
all_rate=res.loc[0,'rate']*res.loc[1,'rate']*res.loc[2,'rate']
none_rate=(1-res.loc[0,'rate'])*(1-res.loc[1,'rate'])*(1-res.loc[2,'rate'])
any_rate=1-none_rate

In [104]:
res

   index college                           program   rate info
0      0     UCL                  MSc Data Science  0.057  NaN
1      7    Edin                  MSc Data Science  0.100  NaN
2      8    Edin  MSc Statistics with Data Science  0.250  NaN

In [107]:
#print
print_out=''
for i in range(no_picks): 
    print_out+=f'''{res.loc[i,'college']} - {res.loc[i,'program']} offer rate: {res.loc[i,'rate']}\n'''
print_out+=f'''\n\nchance of getting into ALL {no_picks} programs: {int(all_rate*1000)/1000}
chance of getting into at least 1 program: {int(any_rate*1000)/1000}'''

In [108]:
print(print_out)

UCL - MSc Data Science offer rate: 0.057
Edin - MSc Data Science offer rate: 0.1
Edin - MSc Statistics with Data Science offer rate: 0.25


chance of getting into ALL 3 programs: 0.001
chance of getting into at least 1 program: 0.363