In [1]:
import pandas as pd

In [2]:
#load
rates=pd.read_excel('manual_data.xlsx')

In [3]:
rates

  college                                 program   rate
0     UCL                        MSc Data Science  0.057
1     UCL                             MSc Finance  0.160
2     UCL                             MSc Physics  0.480
3     UCL                             MSc Geology  0.890
4     UCL                             MA Fine Art  0.215
5    Edin      MSC Finance, Technology and Policy  0.270
6   Edin   MSc Computational Mathematical Finance  0.180
7    Edin                        MSc Data Science  0.100
8    Edin        MSc Statistics with Data Science  0.250
9    Edin                              MA Fashion  0.061

In [ ]:
# lst=UCL, LSE, Imperial College, Cambridge, King's, Oxford, Edinburgh, Manchester, Durham, Warwick, St Andrews, Nottingham, ETHZ, Dartmouth
# Brunek

In [ ]:
#input
rate_1=
rate_2=
rate_3=

In [ ]:
#calculate
all_rate=rate_1*rate_2*rate_3
none_rate=(1-rate_1)*(1-rate_2)*(1-rate_3)
any_rate=1-none